@font-face {
    font-family: BatmanForeverAlternate;
    src: url("batmfa.eot?") format("eot"), url("batmfa.woff") format("woff"), url("batmfa.ttf") format("truetype"), url("batmfa.svg#BatmanForeverAlternate") format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BatmanForeverAlternate";
    src: url("batmfa.eot?") format("eot"), url("batmfa.woff") format("woff"), url("batmfa.ttf") format("truetype"), url("batmfa.svg#BatmanForeverAlternate") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Conthrax;
    src: url("conthrax-bold-italic.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Conthrax";
    src: url("conthrax-bold-italic.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}