@font-face {
    font-family: NotoSans-Black;
    src: url("./NotoSans-Black.ttf");
}
@font-face {
    font-family: NotoSans-Bold;
    src: url("./NotoSans-Bold.ttf");
}
@font-face {
    font-family: NotoSans;
    src: url("./NotoSans-Regular.ttf");
}

.test-rem {
    font-size: 20px;
}