// url("@/assets/fonts/SF-Pro-Rounded-Medium.woff2") format("woff2"),
@font-face {
  font-family: TRENDS;
  font-display: optional;
  src: url("../fonts/Trends.woff2") format("woff2"),
  url("../fonts/Trends.woff") format("woff"),
  url("../fonts/Trends.ttf") format("truetype");
}