// url("@/assets/fonts/SF-Pro-Rounded-Medium.woff2") format("woff2"),
@font-face {
  font-family: RobotoSerif;
  font-display: optional;
  src: url("../fonts/RobotoSerif_28pt-Regular.woff2") format("woff2"),
  url("../fonts/RobotoSerif_28pt-Regular.woff") format("woff"),
  url("../fonts/RobotoSerif_28pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: RobotoSerif-Regular;
  font-display: optional;
  src: url("../fonts/RobotoSerif_28pt-Regular.woff2") format("woff2"),
  url("../fonts/RobotoSerif_28pt-Regular.woff") format("woff"),
  url("../fonts/RobotoSerif_28pt-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSans;
  font-display: optional;
  src: url("../fonts/SourceHanSansTC-Regular.woff2") format("woff2"),
  url("../fonts/SourceHanSansTC-Regular.woff") format("woff"),
  url("../fonts/SourceHanSansTC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSans-Regular;
  font-display: optional;
  src: url("../fonts/SourceHanSansTC-Regular.woff2") format("woff2"),
  url("../fonts/SourceHanSansTC-Regular.woff") format("woff"),
  url("../fonts/SourceHanSansTC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: SourceHanSans-Bold;
  font-display: optional;
  src: url("../fonts/SourceHanSansTC-Bold.woff2") format("woff2"),
  url("../fonts/SourceHanSansTC-Bold.woff") format("woff"),
  url("../fonts/SourceHanSansTC-Bold.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNeue;
  font-display: optional;
  src: url("../fonts/Helvetica-Neue.woff2") format("woff2"),
  url("../fonts/Helvetica-Neue.woff") format("woff"),
  url("../fonts/Helvetica-Neue.ttf") format("truetype");
}
