// url("@/assets/fonts/SF-Pro-Rounded-Medium.woff2") format("woff2"),
@font-face {
  font-family: Arial;
  font-display: optional;
  src: url("@/assets/fonts/Arial.ttf") format("truetype");
}
@font-face {
  font-family: Arial-Bold;
  font-display: optional;
  src: url("@/assets/fonts/Arial-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Barlow;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Barlow-Regular;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Barlow-Bold;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Barlow-ExtraBold;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: Barlow-SemiBold;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: Barlow-Medium;
  font-display: optional;
  src: url("@/assets/fonts/Barlow-Medium.ttf") format("truetype");
}

@font-face {
  font-family: HelveticaNeue;
  font-display: optional;
  src: url("@/assets/fonts/HelveticaNeue.ttf") format("truetype");
}
@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("@/assets/fonts/HelveticaNeue-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Mukta;
  src: url("@/assets/fonts/Mukta-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Mukta-Regular;
  src: url("@/assets/fonts/Mukta-Regular.ttf") format("truetype");
}
@font-face {
  font-family: UniversLT;
  src: url("@/assets/fonts/Univers LT 47 Condensed Light.ttf") format("truetype");
}
@font-face {
  font-family: UniversLT-Bold;
  src: url("@/assets/fonts/Univers LT 67 Condensed Bold.ttf") format("truetype");
}
