// 隐藏滚动条，但保留功能
/* 适用于所有现代浏览器 */
.hidden-scrollbar {
  overflow: auto; /* 仍然允许滚动 */
  scrollbar-width: none; /* Firefox 隐藏滚动条 */
  -ms-overflow-style: none; /* IE 和 Edge 隐藏滚动条 */
}

/* 隐藏滚动条 - 针对 Webkit (Chrome, Safari) */
.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}
.hide-scroll-horizontal {
  overflow-x: hidden;
  overflow-y: auto; /* 允许垂直滚动 */
}
.hide-scroll-vertical {
  overflow-y: hidden;
  overflow-x: auto; /* 允许水平滚动 */
}

// 间距 750 basic
@media screen and (max-width: 768px) {
}
.com-logo {
  width: 38px;
  height: 8px;
}
@media screen and (max-width: 768px) {
  .com-logo {
    width: 107px;
    height: 23px;
  }
}
// PC M 展示隐藏 768px
.vis-pc {
  display: block;
}
.vis-m {
  display: none;
}
.vis-pcf {
  display: flex;
}
.vis-mf {
  display: none;
}
@media screen and (max-width: 768px) {
  .vis-pc {
    display: none;
  }
  .vis-m {
    display: block;
  }
  .vis-pcf {
    display: none;
  }
  .vis-mf {
    display: flex;
  }
}

.no-wrap {
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: scroll;
}

// index
.main-body {
  background: #f2F3F6;
}
.cci-plr {
  padding-left: 14px;
  padding-right: 14px;
}
.hl-home-mb {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .cci-plr {
    padding-left: 11px;
    padding-right: 11px;
  }
  .hl-home-mb {
    margin-bottom: 11px;
  }
}

// indexDetail
.hl-plr {
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 768px) {
  .hl-plr {
    padding-left: 10px;
    padding-right: 10px;
  }
}

// index title
.hl-title-body {
  width: 100%;
  border-left: 2px solid #4267B9;
  padding-left: 7px;
  .header-title {
    font-family: Barlow-Medium;
    font-weight: 500;
    font-size: 12px;
    color: #000000;
    line-height: 1;
    font-style: normal;
  }
  .header-tip {
    font-family: Barlow-Regular;
    font-weight: 400;
    font-size: 5px;
    color: #000000;
    line-height: 1.1;
    font-style: normal;
    margin-top: 4px;
  }
  .header-btn {
    font-family: Barlow-ExtraBold, Barlow;
    font-size: 6px;
    height: 12px;
    margin-top: 4px;
  }
}
@media screen and (max-width: 768px) {
  .hl-title-body {
    border-left: 5px solid #4267B9;
    .header-title {
      font-size: 27px;
    }
    .header-tip {
      font-size: 13px;
      line-height: 1.2;
      margin-top: 11px;
    }
    .header-btn {
      font-size: 15px;
      height: 33px;
      margin-top: 14px;
    }
  }
}

.hl-chart-line {
  height: 0.4px;
  background: #E2E2E2;
  margin-top: 20px;
  margin-bottom: 20px;
}

// detail title
.hl-detail-title-body {
  width: 100%;
  border-left: 2px solid #4267B9;
  padding-left: 7px;
  .header-title {
    font-family: Barlow-Medium, Barlow;
    font-weight: 500;
    font-size: 7px;
    color: #000000;
    line-height: 1.2;
    font-style: normal;
    .change-color {
      color: #676767;
    }
  }
  .header-tip {
    font-family: Barlow-Medium, Barlow;
    font-weight: 500;
    font-size: 7px;
    color: #929292;
    line-height: 1.2;
    font-style: normal;
    margin-top: 1px;
  }
  .header-info {
    font-family: Barlow-Regular, Barlow;
    font-weight: 400;
    font-size: 5px;
    color: #000000;
    line-height: 1.2;
    font-style: normal;
    margin-top: 4px;
  }
  .header-link {
    margin-top: 0;
    display: flex;
    align-items: end;
    .arrow-icon {
      color: #4267B9;
      font-size: 5px;
      margin-left: 4px;
    }
  }
}
@media screen and (max-width: 768px) {
  .hl-detail-title-body {
    border-left: 5px solid #4267B9;
    padding-left: 5px;
    .header-title {
      font-size: 20px;
      line-height: 1.25;
    }
    .header-tip {
      font-family: Barlow-Medium, Barlow;
      font-weight: 500;
      font-size: 7px;
      color: #929292;
      line-height: 1.2;
      font-style: normal;
      margin-top: 1px;
    }
    .header-info {
      font-family: Barlow-Regular, Barlow;
      font-weight: 400;
      font-size: 5px;
      color: #000000;
      line-height: 1.2;
      font-style: normal;
      margin-top: 4px;
    }
    .header-link {
      margin-top: 0;
      display: flex;
      align-items: end;
      .arrow-icon {
        color: #4267B9;
        font-size: 5px;
        margin-left: 4px;
      }
    }
  }
}

// 溢出一行省略号
.ellipsis-one {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 溢出两行省略号
.ellipsis-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 溢出三行省略号
.ellipsis-multiline-three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

// btn
.cci-btn {
  width: 23px;
  height: 8px;
  background: #000000;
  border-radius: 1px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.cci-btn_auto {
  padding: 2px 4px;
  background: #000000;
  border-radius: 1px;
  line-height: 1;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  text-align: center;
  font-style: normal;
}
.cci-btn_txt {
  width: 23px;
  height: 8px;
  background: transparent;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.btn-logout {
  height: 9px;
  background: #000000;
  border-radius: 9px 1px 1px 9px;
  padding-right: 3px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.btn-logout_hm {
  height: 9px;
  background: #000000;
  border-radius: 9px 1px 1px 9px;
  padding-right: 3px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .cci-btn {
    width: 63px;
    height: 22px;
    border-radius: 2px;
    font-size: 13px;
  }
  .cci-btn_auto {
    padding: 20px 40px;
    border-radius: 2px;
    font-size: 13px;
  }
  .cci-btn_txt {
    width: 63px;
    height: 22px;
    font-size: 13px;
    color: #000000;
  }
  .btn-logout {
    height: 22px;
    border-radius: 22px 2px 2px 22px;
    padding-right: 6px;
    font-size: 13px;
  }
  .btn-logout_hm {
    width: 0;
    height: 0;
    display: none;
    transition: all 0.5s;
  }
}

// admin
.cc-body-plr {
  padding-left: 6px;
  padding-right: 6px;
}
@media screen and (max-width: 768px) {
  .cc-body-plr {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// 卡片
.cc-card {
  background: #FFFFFF;
  border-radius: 2px;
  padding: 8px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .cc-card {
    border-radius: 2px;
    padding: 20px;
  }
}

.card-row {
  margin-left: -2px !important;
  margin-right: -2px !important;
}
.card-col {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
@media screen and (max-width: 768px) {
  .card-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .card-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.card-mt {
  margin-top: 4px;
}
.card-mt_pc {
  margin-top: 4px;
}
.card-mt_m {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .card-mt {
    margin-top: 11px;
  }
  .card-mt_pc {
    margin-top: 0;
  }
  .card-mt_m {
    margin-top: 11px;
  }
}

// 间距 标题距离上个层级
.cc-mt_tc {
  margin-top:  8px;
}
// 间距 文字或内容距离标题
.cc-mt_tt {
  margin-top: 4px;
}

// 标题
.cc-title {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 6px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
}
.cc-title-detail {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 9px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .cc-mt_tc {
    margin-top:  22px;
  }
  .cc-mt_tt {
    margin-top: 11px;
  }

  .cc-title {
    font-size: 20px;
  }
  .cc-title-detail  {
    font-size: 17px;
  }
}
.cc-title_sub {
  width: 100%;
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  display: block;
}

.hl-tab-title {
  font-family: Barlow-Bold;
  font-weight: bold;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  margin-bottom: 4px;
}
@media screen and (max-width: 768px) {
  .cc-title_sub {
    font-size: 15px;
  }

  .hl-tab-title {
    font-size: 22px;
    margin-bottom: 22px;
  }
}

.cc-txt {
  font-family: Barlow, Barlow;
  font-weight: 400;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  margin-top: 2px;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt {
    font-size: 15px;
    margin-top: 11px;
  }
}
.cc-txt_sub {
  font-family: Barlow, Barlow;
  font-weight: 400;
  font-size: 3px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt_sub {
    font-size: 13px;
  }
}
.cc-txt-green {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 8px;
  color: #4267B9;
  line-height: 1;
  text-align: left;
  font-style: normal;
  margin-top: 4px;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt-green {
    font-size: 28px;
    margin-top: 11px;
  }
}

// 按钮 Btn
.cc-btn {
  background: #000000;
  border-radius: 1px;
  width: 40px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn {
    border-radius: 6px;
    width: 127px;
    height: 33px;
    font-size: 17px;
  }
}
.cc-btn_table {
  background: #000000;
  border-radius: 1px;
  width: 21px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn_table {
    border-radius: 2px;
    width: 61px;
    height: 22px;
    font-size: 11px;
  }
}
.cc-btn_green {
  background: #4267B9;
  border-radius: 1px;
  width: 35px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn_green {
    width: 100%;
    height: 33px;
    font-size: 17px;
    border-radius: 2px;
  }
}

// input 框
:deep(.hl-reg-inp) {
  --el-input-width: 100%;
  --el-input-border: none;
  --el-input-border-color: transparent;
  --el-input-height: 12px;
  --el-input-bg-color: #F6F6F6;
  --el-input-border-radius: 1px;
  --el-input-text-color: #000000;
  --el-input-hover-border: 1px solid #000000;
  --el-input-placeholder-color: #000000;
  --el-input-focus-border: 1px solid #000000;
  --el-input-hover-border-color: #000000;
  --el-input-clear-hover-color: transparent;
  --el-input-focus-border-color: #000000;
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  font-style: normal;
  .el-input__wrapper {
    padding: 0;
  }
  .el-input__inner {
    --el-input-inner-height: 8px;
    height: 12px;
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
  }
}
:deep(.hl-reg-inp.is-disabled .el-input__inner) {
  background-color: #F6F6F6;
  color: #999999;
  box-shadow: none;
}

.hl-inp-unit {
  font-family: Barlow-Regular, Barlow;
  font-weight: 400;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  font-style: normal;
  position: absolute;
  top: 54%;
  left: 4px;
  z-index: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.hl-number-inp {
  width: 100%;
  height: 12px;
  text-align: right;
  background: #F6F6F6;
  border-radius: 1px;
  direction: rtl; /* 设置文本方向从右到左 */
  text-align: right; /* 设置文本对齐方式为右对齐 */
}

// select
:deep(.hl-select) {
  --el-select-border-color-hover: #000000 !important;
  --el-select-disabled-color: #999999;
  .el-select__wrapper {
    background-color: #F6F6F6;
    border-radius: 1px;
    box-shadow: none;
    height: 12px;
    padding: 4px 4px 4px 0;
    font-family: Barlow-Bold, Barlow;
    font-weight: bold;
    font-size: 4px;
    color: #000000;
    line-height: 1;
    font-style: normal;
  }
  .el-select__wrapper:hover, .el-select__wrapper.is-focused {
    box-shadow: 0 0 0 0.2px #000000 inset;
  }
  .el-select__wrapper.is-disabled {
    box-shadow: none;
  }
  .el-select__placeholder {
    color: #000000;
    top: 2px;
    margin-left: 4px;
  }
}

// detail按钮
.hl-tool-btn {
  width: 22px;
  height: 9px;
  font-family: Barlow-ExtraBold;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  background: #4267B9;
  border-radius: 1px;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .hl-tool-btn {
    width: 100%;
    height: 33px;
    font-size: 17px;
    border-radius: 2px;
    margin-top: 22px;
  }
}

.form-item-mb {
  //margin-bottom: 2px;
  overflow: hidden;
}
.hl-form-item {
  position: relative;
}
.hl-inp-label, .hl-dis-label {
  font-family: Barlow-Regular, Barlow;
  font-weight: 400;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  font-style: normal;
  position: absolute;
  top: 50%;
  left: 4px;
  transition: transform 0.3s ease-in-out; /* 平滑过渡效果 */
  transform: translateY(-50%);
  z-index: 1;
}
.hlDisLabel {
  color: #999999 !important;
}
.hlLabelActive {
  transform: translateY(-4px);
  font-size: 3px;
  color: #888888;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  :deep(.hl-select) {
    .el-select__wrapper {
      border-radius: 2px;
      height: 44px;
      padding: 17px 11px 17px 0;
      font-size: 17px;
    }
    .el-select__placeholder {
      top: 2px;
      margin-left: 8px;
    }
  }

  .form-item-mb {
    //margin-bottom: 2px;
    overflow: hidden;
  }
  .hl-form-item {
    position: relative;
  }
  .hl-inp-label, .hl-dis-label {
    font-family: Barlow-Regular;
    font-weight: 400;
    font-size: 4px;
    color: #000000;
    line-height: 1;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 4px;
    transition: transform 0.3s ease-in-out; /* 平滑过渡效果 */
    transform: translateY(-50%);
    z-index: 1;
  }
  .hlDisLabel {
    color: #999999 !important;
  }
  .hlLabelActive {
    transform: translateY(-4px);
    font-size: 3px;
    color: #888888;
    line-height: 1;
  }
}

@media screen and (max-width: 768px) {
  :deep(.hl-reg-inp) {
    font-size: 8px;
    line-height: 1;
    .el-input__inner {
      --el-input-inner-height: 9px;
      height: 20px;
      padding-top: 6px;
      padding-left: 8px;
    }
  }
  .form-item-mb {
    //margin-bottom: 5px;
  }
  .hl-inp-label {
    font-size: 8px;
    line-height: 1;
    left: 8px;
  }
  .hlLabelActive {
    transform: translateY(-8px);
    font-size: 5px;
    line-height: 1;
  }
}

@media screen and (max-width: 768px) {
  :deep(.hl-reg-inp) {
    font-size: 14px;
    .el-input__inner {
      --el-input-inner-height: 9px;
      height: 40px;
      padding-top: 12px;
      padding-left: 8px;
    }
  }
  .form-item-mb {
    //margin-bottom: 10px;
  }
  .hl-inp-label {
    font-size: 14px;
    left: 8px;
  }
  .hlLabelActive {
    transform: translateY(-14px);
    font-size: 10px;
  }
}

// 注册页面 send code 按钮
:deep(.hl-green-btn) {
  --el-button-bg-color: #4267B9;
  --el-button-text-color: #FFFFFF;
  --el-button-disabled-bg-color: #cccccc;
  --el-button-border-color: transparent;
  --el-button-disabled-border-color: transparent;
  --el-button-disabled-text-color: #FFFFFF;
  --el-button-hover-border-color: transparent;
  --el-button-active-border-color: transparent;
  --el-button-hover-text-color: #FFFFFF;
  --el-button-hover-bg-color: #4267B9;
  border-radius: 1px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  line-height: 1;
  font-style: normal;
}

// 普通黑色按钮
:deep(.hl-black-btn) {
  --el-button-bg-color: #000000;
  --el-button-text-color: #FFFFFF;
  --el-button-disabled-bg-color: #DFDFDF;
  --el-button-disabled-text-color: #FFFFFF;
  --el-button-border-color: transparent;
  --el-button-disabled-border-color: transparent;
  --el-button-hover-border-color: transparent;
  --el-button-active-border-color: transparent;
  --el-button-hover-text-color: #FFFFFF;
  --el-button-hover-bg-color: #000000;
  border-radius: 1px;
  font-family: Barlow-Bold, Barlow;
  font-weight: 800;
  font-size: 4px;
  line-height: 1;
  font-style: normal;
}

// 普通黑色按钮
:deep(.hl-blue-btn) {
  --el-button-bg-color: #4267B9;
  --el-button-text-color: #FFFFFF;
  --el-button-disabled-bg-color: #DFDFDF;
  --el-button-disabled-text-color: #FFFFFF;
  --el-button-border-color: transparent;
  --el-button-disabled-border-color: transparent;
  --el-button-hover-border-color: transparent;
  --el-button-active-border-color: transparent;
  --el-button-hover-text-color: #FFFFFF;
  --el-button-hover-bg-color: #4267B9;
  border-radius: 1px;
  font-family: Barlow-Bold, Barlow;
  font-weight: 800;
  font-size: 4px;
  line-height: 1;
  font-style: normal;
}

// 普通灰色按钮
:deep(.hl-grey-btn) {
  --el-button-bg-color: #B6B6B6;
  --el-button-text-color: #FFFFFF;
  --el-button-disabled-bg-color: #B6B6B6;
  --el-button-disabled-text-color: #FFFFFF;
  --el-button-border-color: transparent;
  --el-button-disabled-border-color: transparent;
  --el-button-hover-border-color: transparent;
  --el-button-active-border-color: transparent;
  --el-button-hover-text-color: #FFFFFF;
  --el-button-hover-bg-color: #B6B6B6;
  border-radius: 1px;
  font-family: Barlow-Bold, Barlow;
  font-weight: 800;
  font-size: 4px;
  line-height: 1;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  :deep(.hl-green-btn) {
    font-size: 6px;
  }

  :deep(.hl-black-btn) {
    font-size: 6px;
  }

  :deep(.hl-grey-btn) {
    font-size: 6px;
  }
}

@media screen and (max-width: 768px) {
  :deep(.hl-green-btn) {
    font-size: 17px;
  }

  :deep(.hl-black-btn) {
    font-size: 17px;
  }

  :deep(.hl-grey-btn) {
    font-size: 17px;
  }
}

// 分页器
.hl-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  .el-pager li {
    font-size: 4px;
    color: #999999;
    background: transparent;
    &.is-active, &:hover {
      color: #4267B9;
    }
  }
  .btn-prev, .btn-next {
    color: #000000;
    background: transparent;
    .el-icon {
      font-size: 4px !important;
    }
    &:disabled {
      color: #999999;
      background: transparent;
      &:hover {
        color: #999999;
      }
    }
    &:hover {
      color: #000000;
      background: transparent;
    }
  }
}

@media screen and (max-width: 768px) {
  .hl-pagination {
    margin-top: 10px;
    margin-bottom: 10px;
    .el-pager li {
      font-size: 17px;
    }
    .btn-prev, .btn-next {
      .el-icon {
        font-size: 16px !important;
      }
    }
  }
}

// ElMessage
.el-message {
  padding: 4px;
}
.el-message--warning .el-message__content, .el-message--success .el-message__content, .el-message--error .el-message__content {
  font-size: 4px;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .el-message {
    padding: 8px;
  }
  .el-message--warning .el-message__content, .el-message--success .el-message__content, .el-message--error .el-message__content {
    font-size: 10px;
  }
}
