.main-width {
  width: 100%;
  max-width: 100%;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .main-width {
    max-width: 430px;
    margin: 0 auto;
  }
}
.main-body {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}
.main-container {
  background: #0C0D13;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}
// 填充空白
.container {
  min-height: calc(100vh - 70px - 45px);
  padding-top: 10px;
  padding-bottom: 10px;
}
.detail-container {
  min-height: 100vh;
  padding-bottom: 10px;
}


// 间距 750 basic
@media screen and (max-width: 768px) {
}
.com-logo {
  width: 38px;
  height: 8px;
}
@media screen and (max-width: 768px) {
  .com-logo {
    width: 107px;
    height: 23px;
  }
}
.no-wrap {
  white-space: nowrap;
  text-wrap: nowrap;
  overflow: scroll;
}

// index
.cci-plr {
  padding-left: 14px;
  padding-right: 14px;
}
@media screen and (max-width: 768px) {
  .cci-plr {
    padding-left: 11px;
    padding-right: 11px;
  }
}

// 溢出一行省略号
.ellipsis-one {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 溢出两行省略号
.ellipsis-multiline {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
// 溢出三行省略号
.ellipsis-multiline-three {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}

// btn
.cci-btn {
  width: 23px;
  height: 8px;
  background: #000000;
  border-radius: 1px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.cci-btn_auto {
  padding: 2px 4px;
  background: #000000;
  border-radius: 1px;
  line-height: 1;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  text-align: center;
  font-style: normal;
}
.cci-btn_txt {
  width: 23px;
  height: 8px;
  background: transparent;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.btn-logout {
  height: 9px;
  background: #000000;
  border-radius: 9px 1px 1px 9px;
  padding-right: 3px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}
.btn-logout_hm {
  height: 9px;
  background: #000000;
  border-radius: 9px 1px 1px 9px;
  padding-right: 3px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  .cci-btn {
    width: 63px;
    height: 22px;
    border-radius: 2px;
    font-size: 13px;
  }
  .cci-btn_auto {
    padding: 20px 40px;
    border-radius: 2px;
    font-size: 13px;
  }
  .cci-btn_txt {
    width: 63px;
    height: 22px;
    font-size: 13px;
    color: #000000;
  }
  .btn-logout {
    height: 22px;
    border-radius: 22px 2px 2px 22px;
    padding-right: 6px;
    font-size: 13px;
  }
  .btn-logout_hm {
    width: 0;
    height: 0;
    display: none;
    transition: all 0.5s;
  }
}

// admin
.cc-body-plr {
  padding-left: 6px;
  padding-right: 6px;
}
@media screen and (max-width: 768px) {
  .cc-body-plr {
    padding-left: 12px;
    padding-right: 12px;
  }
}

// 卡片
.cc-card {
  background: #FFFFFF;
  border-radius: 2px;
  padding: 8px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .cc-card {
    border-radius: 2px;
    padding: 20px;
  }
}

.card-row {
  margin-left: -2px !important;
  margin-right: -2px !important;
}
.card-col {
  padding-left: 2px !important;
  padding-right: 2px !important;
}
@media screen and (max-width: 768px) {
  .card-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .card-col {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.card-mt {
  margin-top: 4px;
}
.card-mt_pc {
  margin-top: 4px;
}
.card-mt_m {
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .card-mt {
    margin-top: 11px;
  }
  .card-mt_pc {
    margin-top: 0;
  }
  .card-mt_m {
    margin-top: 11px;
  }
}

// 间距 标题距离上个层级
.cc-mt_tc {
  margin-top:  8px;
}
// 间距 文字或内容距离标题
.cc-mt_tt {
  margin-top: 4px;
}

// 标题
.cc-title {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 6px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
}
.cc-title-detail {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 9px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .cc-mt_tc {
    margin-top:  22px;
  }
  .cc-mt_tt {
    margin-top: 11px;
  }

  .cc-title {
    font-size: 20px;
  }
  .cc-title-detail  {
    font-size: 17px;
  }
}
.cc-title_sub {
  width: 100%;
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  display: block;
}

@media screen and (max-width: 768px) {
  .cc-title_sub {
    font-size: 15px;
  }
}

.cc-txt {
  font-family: Barlow, Barlow;
  font-weight: 400;
  font-size: 4px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  margin-top: 2px;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt {
    font-size: 15px;
    margin-top: 11px;
  }
}
.cc-txt_sub {
  font-family: Barlow, Barlow;
  font-weight: 400;
  font-size: 3px;
  color: #000000;
  line-height: 1;
  text-align: left;
  font-style: normal;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt_sub {
    font-size: 13px;
  }
}
.cc-txt-green {
  font-family: Barlow-Bold, Barlow;
  font-weight: bold;
  font-size: 8px;
  color: #4267B9;
  line-height: 1;
  text-align: left;
  font-style: normal;
  margin-top: 4px;
  &:first-child {
    margin-top: 0;
  }
}
@media screen and (max-width: 768px) {
  .cc-txt-green {
    font-size: 28px;
    margin-top: 11px;
  }
}

// 按钮 Btn
.cc-btn {
  background: #000000;
  border-radius: 1px;
  width: 40px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn {
    border-radius: 6px;
    width: 127px;
    height: 33px;
    font-size: 17px;
  }
}
.cc-btn_table {
  background: #000000;
  border-radius: 1px;
  width: 21px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn_table {
    border-radius: 2px;
    width: 61px;
    height: 22px;
    font-size: 11px;
  }
}
.cc-btn_green {
  background: #4267B9;
  border-radius: 1px;
  width: 35px;
  height: 8px;
  font-family: Barlow-ExtraBold, Barlow;
  font-weight: 800;
  font-size: 4px;
  color: #FFFFFF;
  line-height: 1;
  text-align: center;
  font-style: normal;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .cc-btn_green {
    width: 100%;
    height: 33px;
    font-size: 17px;
    border-radius: 2px;
  }
}

// ElMessage
.el-message {
  padding: 4px;
}
.el-message--warning .el-message__content, .el-message--success .el-message__content, .el-message--error .el-message__content {
  font-size: 4px;
  z-index: 9;
}
@media screen and (max-width: 768px) {
  .el-message {
    padding: 8px;
  }
  .el-message--warning .el-message__content, .el-message--success .el-message__content, .el-message--error .el-message__content {
    font-size: 10px;
  }
}
