.hl-flex-row-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// 管理
.admin-container {
  height: 100%;
  min-height: calc(100vh - 120px);
  padding: 40px 20px;
  background: linear-gradient( 180deg, #400D8C 0%, #08075A 100%);
  border-radius: 40px 0 0 0;
}
@media screen and (max-width: 768px) {
  .admin-container {
    padding: 20px;
    border-radius: 0;
  }
}

// 菜单
.menu-w {
  width: 320px !important;
}
.menu-pl {
  padding-left: 320px;
}
.menu-pr {
  padding-right: 320px;
}
@media screen and (max-width: 768px) {
  .menu-w {
    width: auto !important;
  }
  .menu-pl {
    padding-left: 320px;
  }
  .menu-pr {
    padding-right: 320px;
  }
}

// PC M 展示隐藏 768px
.vis-pc {
  display: block;
}
.vis-mobile {
  display: none;
}
.vis-pcf {
  display: flex;
}
.vis-mf {
  display: none;
}
@media screen and (max-width: 768px) {
  .vis-pc {
    display: none;
  }
  .vis-mobile {
    display: block;
  }
  .vis-pcf {
    display: none;
  }
  .vis-mf {
    display: flex;
  }
}

// 发光的框
.bs-p {
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( 179deg, #421A74 0%, #23236F 100%), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 20px 10px rgba(59,208,212,0.5);

  //background: linear-gradient( 179deg, #421A74 0%, #23236F 100%);
  //box-shadow: 0 0 20px 10px rgba(59,208,212,0.5);
  //border-radius: 40px;
  //border: 1px solid rgba(127, 111, 208, 1);
  //border-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8)) 0 0;
}
.bs-p:focus, .bs-p:focus-within {
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( 179deg, #421A74 0%, #23236F 100%), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 20px 10px rgba(59,208,212,0.5);
  //border-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8)) 0 0;
}
@media screen and (max-width: 768px) {
  .bs-p {
    border-radius: 20px;
  }
  .bs-p:focus, .bs-p:focus-within {
    border-radius: 20px;
  }
}
.bs-c {
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( 179deg, #421A74 0%, #23236F 100%), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 80px 1px #3B83D4;
  //border-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8)) 0 0;
}
.bs-c:focus, .bs-c:focus-within {
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( 179deg, #421A74 0%, #23236F 100%), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 80px 1px #3B83D4;
  //border-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8)) 0 0;
}
.bs-c-gray{
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( to right, #403D4D, #403D4D ), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 80px 1px #3B83D4;
}
.bs-c-gray:focus, .bs-c-gray:focus-within{
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( to right, #403D4D, #403D4D ), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 80px 1px #3B83D4;
}
@media screen and (max-width: 768px) {
  .bs-c {
    border-radius: 20px;
  }
  .bs-c:focus, .bs-c:focus-within {
    border-radius: 20px;
  }
  .bs-c-gray, .bs-c-gray:focus-within{
    border-radius: 20px;
  }
}

.modal-bg {
  border: 1px solid transparent;
  border-radius: 40px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient( 179deg, #421A74 0%, #23236F 100%), linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  box-shadow: 0 0 20px 1px #3B83D4;
  //border-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8)) 0 0;
}
.admin-box-shadow {
  background: transparent;
  box-shadow: 0 0 80px 1px #3B83D4;
  border-radius: 50px;
}
@media screen and (max-width: 768px) {
  .modal-bg {
    border-radius: 25px;
  }
  .admin-box-shadow {
    border-radius: 30px;
  }
}

// 文本相关
.fs-title-large {
  font-size: 90px;
}
.fs-title {
  font-size: 20px;
}
.fs-ct {
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .fs-title-large {
    font-size: 90px;
  }
  .fs-title {
    font-size: 20px;
  }
  .fs-ct {
    font-size: 14px;
  }
}

// 文字颜色渐变
.text-gradient{
  font-family: Barlow, Barlow ExtraBold;
  background: -webkit-linear-gradient(65deg, #C066FC 0%, #6B8DD3 30%, #3097AE 56%, #93FC66 100%); /* Chrome, Safari */
  background: linear-gradient(65deg, #C066FC 0%, #6B8DD3 30%, #3097AE 56%, #93FC66 100%); /* 标准语法 */
  -webkit-background-clip: text; /* Chrome, Safari */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Chrome, Safari */
  color: transparent; /* 标准语法, 也可以用于其他浏览器 */
}

// 按钮
.btn, .btn-active{
  //background: radial-gradient( 377% 109% at 25% 16%, #8A4DDA 0%, #34288B 100%);
  border-radius: 30px;
  border: 1px solid transparent;
  padding-top: 2px;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: radial-gradient( 377% 109% at 25% 16%, #8A4DDA 0%, #34288B 100%), linear-gradient(90deg, rgba(183, 133, 233, 1), rgba(162, 115, 221, 1), rgba(99, 59, 183, 1), rgba(175, 108, 240, 1), rgba(172, 141, 221, 1));
}
.btn-active{
  background-image: linear-gradient( 90deg, #C066FC 0%, #6B8DD3 30%, #3097AE 56%, #93FC66 100%), linear-gradient(90deg, rgba(183, 133, 233, 1), rgba(162, 115, 221, 1), rgba(99, 59, 183, 1), rgba(175, 108, 240, 1), rgba(172, 141, 221, 1));
}
.btn::after, .btn-active::after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
.btn-normal, .btn-normal-active{
  border: 1px solid transparent;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: radial-gradient( 377% 109% at 25% 16%, #8A4DDA 0%, #34288B 100%), linear-gradient(90deg, rgba(183, 133, 233, 1), rgba(162, 115, 221, 1), rgba(99, 59, 183, 1), rgba(175, 108, 240, 1), rgba(172, 141, 221, 1));
  border-radius: 30px;
}
.btn-normal-active{
  background-image: linear-gradient( 90deg, #C066FC 0%, #6B8DD3 30%, #3097AE 56%, #93FC66 100%), linear-gradient(90deg, rgba(183, 133, 233, 1), rgba(162, 115, 221, 1), rgba(99, 59, 183, 1), rgba(175, 108, 240, 1), rgba(172, 141, 221, 1));
}
.btn-normal::after, .btn-normal-active::after{
  //border: 1px solid;
  //border-image: linear-gradient(323deg, rgba(53, 40, 140, 1), rgba(175, 108, 240, 1), rgba(208, 174, 244, 1), rgba(98, 60, 182, 1), rgba(221, 191, 253, 1), rgba(114, 25, 198, 1)) 0 0;
  //border-radius: 30px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

// input
.input-border {
  padding: 1px;
  background-image: linear-gradient(323deg, rgba(147, 252, 102, 0.8), rgba(59, 208, 212, 0.8), rgba(175, 108, 240, 0.8));
  border-radius: 36px;
}
.input-shadow {
  height: 100%;
  background: #2B1E6D;
  box-shadow: 0 0 71px 2px #3B83D4;
  border-radius: 36px;
  font-family: Barlow-Medium, Barlow;
  font-weight: 500;
  font-size: 16px;
  color: #FFF;
  line-height: 16px;
  text-align: left;
  font-style: normal;
}
.input-shadow:hover, .input-shadow:visited, .input-shadow:active, .input-shadow:focus, .input-shadow:focus-within, .input-shadow:focus-visible, .input-shadow:checked {
  background: #2B1E6D;
  box-shadow: 0 0 71px 2px #3B83D4;
  border-radius: 36px;
  input::placeholder {
    color: #A0A0A0;
  }
}
@media screen and (max-width: 768px) {
  .input-border {
    border-radius: 26px;
  }
  .input-shadow {
    border-radius: 26px;
    font-size: 13px;
  }
  .input-shadow:hover, .input-shadow:visited, .input-shadow:active, .input-shadow:focus, .input-shadow:focus-within, .input-shadow:focus-visible, .input-shadow:checked {
    border-radius: 26px;
  }
}
.reset-input {
  height: 100%;
  background: transparent;
  border: none !important;
  font-family: Barlow-Medium, Barlow;
  font-weight: 500;
  font-size: 18px;
  color: #FFF;
  line-height: 1;
  text-align: left;
  font-style: normal;
}
@media screen and (max-width: 768px) {
  .reset-input {
    font-size: 13px;
  }
}
.reset-input:hover, .reset-input:visited, .reset-input:active, .reset-input:focus, .reset-input:focus-within, .reset-input:focus-visible, .reset-input:checked {
  background: transparent;
  border: none !important;
  input::placeholder {
    color: #A0A0A0;
  }
}
.reset-select {
  height: 100%;
  background: transparent;
  border: none !important;
  font-family: Barlow-Medium, Barlow;
  font-weight: 500;
  font-size: 18px;
  color: #FFF;
  line-height: 18px;
  text-align: left;
  font-style: normal;
  .arco-select-view-suffix {
    color: rgba(147, 252, 102, 1);
  }
}
.reset-select:hover, .reset-select:visited, .reset-select:active, .reset-select:focus, .reset-select:focus-within, .reset-select:focus-visible, .reset-select:checked {
  background: transparent;
  border: none !important;
  input::placeholder {
    color: #A0A0A0;
  }
}
.arco-select-dropdown {
  //font-family: Barlow-Medium, Barlow;
  //font-weight: 500;
  //font-size: 18px;
  //color: #FFF;
  //line-height: 18px;
  //text-align: left;
  //background-color: rgba(85,75,138,1);
  //.arco-select-option {
  //  background: transparent;
  //}
}

// 弹出框
.admin-modal {
  .arco-modal {
    background: transparent;
  }
  .arco-modal-body {
    background: transparent;
  }
  .select-g {
    font-family: Barlow-Medium, Barlow;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    line-height: 1;
    text-align: left;
    background-color: rgba(85,75,138,1);
    padding-left: 30px;
    padding-right: 30px;
    width: 190px;
    height: 43px;
    .arco-select-view-value {
      font-family: Barlow-Medium, Barlow;
      font-weight: 500;
      font-size: 16px;
      color: #FFF;
      line-height: 1;
      text-align: left;
    }
  }
  @media screen and (max-width: 768px) {
    .select-g {
      font-size: 14px;
      padding-left: 20px;
      padding-right: 20px;
      .arco-select-view-value {
        font-size: 14px;
      }
    }
  }
  .select-gr {
    border-radius: 0 36px 36px 0;
  }
  .select-gl {
    border-radius: 36px 0 0 36px;
  }
  .select-gs {}
  .select-s {
    font-family: Barlow-Medium, Barlow;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    line-height: 1;
    text-align: left;
    background-color: rgba(85,75,138,1);
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    height: 43px;
    .arco-select-view-value {
      font-family: Barlow-Medium, Barlow;
      font-weight: 500;
      font-size: 16px;
      color: #FFF;
      line-height: 1;
      text-align: left;
    }
  }
  @media screen and (max-width: 768px) {
    .select-s {
      padding-left: 20px;
      padding-right: 20px;
      font-size: 14px;
      .arco-select-view-value {
        font-size: 14px;
      }
    }
  }
  .btn {
    font-family: UniversCE-Medium, UniversCE;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 1;
    text-align: right;
    font-style: normal;
    width: 153px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    &:hover {
      font-family: UniversCE-Medium, UniversCE;
      font-weight: 500;
      font-size: 16px;
      color: #FFFFFF;
      text-align: right;
      font-style: normal;
    }
  }
  @media screen and (max-width: 768px) {
    .btn {
      border-radius: 25px;
      font-size: 14px;
      width: 112px;
      height: 30px;
    }
  }
}

// 视频 video
video {
  background: transparent;
  transition: opacity 2s ease;
}

@media screen and (max-width: 768px) {

}




// games页面字号及行高
.font-40-48{
  font-size: 40px;
  line-height: 48px;
}
.font-24{
  font-size: 24px;
  line-height: 24px;
}
.font-23-28{
  font-size: 23px;
  line-height: 28px;
}
.font-20{
  font-size: 20px;
  line-height: 20px;
}
.font-20-24{
  font-size: 20px;
  line-height: 24px;
}
.font-20-50{
  font-size: 20px;
  line-height: 50px;
}
.font-16-19{
  font-size: 16px;
  line-height: 19px;
}
.font-16-23{
  font-size: 16px;
  line-height: 23px;
}
.font-16-24{
  font-size: 16px;
  line-height: 24px;
}
.font-16-30{
  font-size: 16px;
  line-height: 30px;
}
.font-16{
  font-size: 16px;
  line-height: 16px;
}
.font-30{
  font-size: 30px;
  line-height: 30px;
}
.font-26{
  font-size: 26px;
  line-height: 26px;
}
