.select-container_btm {
  left: 0 !important;
}
.select-container {
  background: transparent !important;
  &.van-popover--light .van-popover__content {
    background: transparent !important;
  }
  .van-popover__arrow {
    display: none;
  }
}

.el-table {
  * {
    border-bottom: none !important;
  }
  thead {
    th {
      font-family: Barlow-Regular, Barlow;
      font-weight: 400;
      font-size: 4px;
      color: #888888;
      line-height: 1;
      text-align: left;
      font-style: normal;
      .cell {
        line-height: 1.1;
        padding: 4px 8px;
      }
    }
    @media screen and (max-width: 768px) {
      th {
        font-size: 13px;
        .cell {
          line-height: 1.1;
          padding: 16px 11px;
        }
      }
    }
  }
  tbody {
    tr:hover {
      //background: rgba(0,185,2,0.1) !important;
      td {
        background: rgba(66,103,185,0.1) !important;
      }
    }
    td {
      font-family: Barlow-Bold, Barlow;
      font-weight: bold;
      font-size: 4px;
      color: #000000;
      line-height: 1;
      text-align: left;
      font-style: normal;
      .t-time {
        font-family: Arial;
        font-weight: normal;
      }
    }
    @media screen and (max-width: 768px) {
      td {
        font-size: 17px;
      }
    }
  }
  td.el-table__cell {
    border-bottom: none !important;
    padding: 0;
    .cell {
      padding: 2px 8px;
    }
  }
  @media screen and (max-width: 768px) {
    td.el-table__cell {
      border-bottom: none !important;
      .cell {
        padding: 4px 11px;
      }
    }
  }
  th.el-table__cell.is-leaf {
    border-bottom: none !important;
  }
}

.dialog-body {
  width: clamp(3rem, 114px, 114px) !important;
  padding: 8px !important;
  .el-dialog__header {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .dialog-body {
    width: calc(100% - 60px) !important;
    padding: 22px !important;
    .el-dialog__header {
      display: none !important;
    }
  }
}

// 有关闭按钮的弹窗
.dialog-body_header {
  width: clamp(3rem, 152px, 152px) !important;
  padding: 8px !important;
  .el-dialog__header {
    padding-bottom: 0;
    .el-dialog__title {
      font-family: Barlow-Bold, Barlow;
      font-weight: bold;
      font-size: 6px;
      color: #000000;
      line-height: 1;
      text-align: center;
      font-style: normal;
    }
  }
  .el-dialog__header.show-close {
    padding-right: 0;
    .el-dialog__headerbtn {
      top: 6px;
      right: 4px;
      font-size: 5px;
      color: #000000;
      &:hover {
        color: #000000;
      }
      .el-dialog__close {
        color: #000000;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .dialog-body_header {
    width: calc(100% - 20px) !important;
    padding: 22px !important;
    .el-dialog__header {
      .el-dialog__title {
        font-size: 22px;
      }
    }
    .el-dialog__header.show-close {
      .el-dialog__headerbtn {
        top: 15px;
        right: 10px;
        font-size: 17px;
      }
    }
  }
}


.el-input__inner {
  font-family: Barlow-Regular, Barlow;
}


.el-select {
  .si-op {
    height: 100%;
    display: flex;
    align-items: center;
    .si-icon {
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }
    .si-text {
      margin-left: 2px;
    }
    .si-text_bold {
      font-family: Barlow-Medium, Barlow;
      font-weight: 800;
      font-size: 4px;
      color: #000000;
      line-height: 1;
      text-align: left;
      font-style: normal;
    }
  }
}
.el-select-dropdown {
  .el-select-dropdown__item {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .si-op {
    height: 100%;
    display: flex;
    align-items: center;
    .si-icon {
      width: 7px;
      height: 7px;
      border-radius: 50%;
    }
    .si-text {
      margin-left: 2px;
    }
  }
}
//
@media screen and (max-width: 768px) {
  .el-select {
    .si-op {
      .si-icon {
        width: 22px;
        height: 22px;
      }
      .si-text {
        margin-left: 6px;
      }
      .si-text_bold {
        font-size: 14px;
      }
    }
  }
  .el-select-dropdown {
    .el-select-dropdown__item {
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .si-op {
      .si-icon {
        width: 22px;
        height: 22px;
      }
      .si-text {
        margin-left: 6px;
      }
    }
  }
}
.adaptation-mb {
  .el-col {}
}
@media screen and (max-width: 768px) {
  .adaptation-mb {
    margin-left: 0 !important;
    margin-right: 0 !important;
    .el-col {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}
